<nav class="navbar navbar-expand navbar-light">
  <div class="container">
      <%= link_to 'Jessegram', root_path, class: 'navbar-brand title-tag' %>
      <ul class="navbar-nav ml-md-auto align-items-center">
        <li>
          <%= link_to "投稿", new_post_path, class: "btn btn-primary" %>
        </li>
        <li>
          <%= link_to "", user_path(current_user), class: "nav-link commonNavIcon profile-icon" %>
        </li>
      </ul>
  </div>
</nav>